*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.troll-img {
  height: 3rem;
  width: 2rem;
  margin-left: 5rem;
}

header{
  display: flex;
  align-items: center;
  height: 4rem;
  /*background: rgb(2,0,36);*/
  background: purple;
  width: 100%;
  justify-content: space-around;
}

.header-title{
  margin-right: auto;
  margin-left: 1rem;
  font-family: "karla", sans-serif;
  color: white;
  letter-spacing: 1px;
}

.header-project{
  margin-right: 5rem;
  font-family: "karla", sans-serif;
  color: white;
}

form{
  margin: 3rem auto 1rem;
  width: 100%;
  padding: 0 8rem;
  display: flex;
  justify-content: space-evenly;
}

input{
  height: 2.5rem;
  width: 30vw;
  padding: 0.2rem 0.4rem;
  font-family: "karla", sans-serif;
}

button{
  display: block;
  margin: 2rem auto;
  background: purple;
  height: 3rem;
  width: 30vw;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 5px;
  font-family: "karla", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;

}

.meme{
  position: relative;
  width: 70vw;
  margin: 0 auto;
  word-break: break-all;

}

.meme--img{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}



.meme--text{
  position: absolute;
  text-align: center;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  margin: 0.5rem auto;
  text-shadow: 2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;  
  left: 50%;
  transform: translateX(-50%);
   
     
}

.top{
    top: 0;
}

.bottom{
    bottom: 0;
}









